In [2]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')

df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [3]:
df.shape

(51, 6)

In [4]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [ ]:
df.isna()

In [ ]:
df.tail()

In [ ]:
clean_df = df.dropna()
clean_df.tail()

In [ ]:
clean_df['Starting Median Salary']

In [ ]:
clean_df['Starting Median Salary'].max()

In [ ]:
clean_df['Starting Median Salary'].idxmax()

In [ ]:
clean_df['Undergraduate Major'].loc[43]

In [ ]:
clean_df['Undergraduate Major'][43]

In [ ]:
clean_df.loc[43]

In [ ]:
clean_df["Mid-Career Median Salary"].idxmax()

In [ ]:
clean_df["Mid-Career Median Salary"].max()

In [ ]:
clean_df['Undergraduate Major'].loc[8]

In [ ]:
clean_df["Starting Median Salary"].idxmin()

In [ ]:
clean_df["Starting Median Salary"].min()

In [ ]:
clean_df['Undergraduate Major'].loc[49]

In [ ]:
clean_df["Mid-Career Median Salary"].idxmin()

In [ ]:
clean_df["Mid-Career Median Salary"].min()

In [ ]:
clean_df['Undergraduate Major'].loc[18]

In [ ]:
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

In [ ]:
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

In [ ]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

In [ ]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

In [ ]:
high_risk = clean_df.sort_values('Spread', ascending=False)
high_risk[['Undergraduate Major', 'Spread']].head()

In [ ]:
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

In [ ]:
highest_spread = clean_df.sort_values('Mid-Career Median Salary', ascending=False)
highest_spread[['Undergraduate Major', 'Mid-Career Median Salary']].head()

In [ ]:
clean_df.groupby('Group').count()

In [ ]:
# clean_df.groupby('Group').mean()
# Specify the numeric columns for mean calculation
numeric_columns = ['Spread', 'Starting Median Salary', 'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary', 'Mid-Career 90th Percentile Salary']
 
# Group by 'Group' and compute the mean for specified numeric columns
grouped_mean = clean_df.groupby('Group')[numeric_columns].mean()
print(grouped_mean)

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format
clean_df.groupby('Group')[list(clean_df.select_dtypes('number'))].mean()